.Rproj.user
.Rhistory
.Rdata
.Rbuildignore
.Ruserdata
config.txt

notebooks/__pycache__/

*.html

packages/gan.pytorch/inst/python/gan/.idea/**


packages/gan.rtorch.Rcheck/gan.rtorch/Meta/

packages/gan.rtorch.Rcheck/

*.gz

packages/gan.rtorch/inst/python/gan/.idea/

pycharm/__pycache__/

pycharm/.idea/

notebooks/.ipynb_checkpoints/

multivariate/.ipynb_checkpoints/

multivariate/__pycache__/

multivariate/data/images/VGAN/MNIST/

pycharm/wgan-gp/.idea/

pycharm/wgan-gp/tmp/mnist/

pycharm/wgan-gp/log.pkl

multivariate/runs/

data/MNIST/

pycharm/data/VGAN/MNIST/dataset/MNIST/
