.Rproj.user
.Rhistory
.Rdata
.Rbuildignore
.Ruserdata
config.txt

notebooks/__pycache__/

*.html

packages/gan.pytorch/inst/python/gan/.idea/**


packages/gan.rtorch.Rcheck/gan.rtorch/Meta/

packages/gan.rtorch.Rcheck/

*.gz

packages/gan.rtorch/inst/python/gan/.idea/

pycharm/__pycache__/

pycharm/.idea/

notebooks/.ipynb_checkpoints/

multivariate/.ipynb_checkpoints/

multivariate/__pycache__/

multivariate/data/images/VGAN/MNIST/

pycharm/wgan-gp/.idea/

pycharm/wgan-gp/tmp/mnist/

pycharm/wgan-gp/log.pkl

multivariate/runs/

data/MNIST/

pycharm/data/VGAN/MNIST/dataset/MNIST/

pycharm/mnist_gan/.idea/

pycharm/mnist_gan/__pycache__/

pycharm/mnist_gan/.ipynb_checkpoints/

pycharm/mnist-dcgan/.ipynb_checkpoints/

pycharm/mnist-dcgan/__pycache__/

pycharm/test_gan_sa/.idea/

pycharm/test_gan_sa/__pycache__/

pycharm/wgan-gp/tflib/__pycache__/

*.pyc

untitled/

*.pkl

pycharm/mnist-wgan-gp/tmp/mnist/
